<!Doctype html>
<html>
    <head>
        
        <title>facebook test</title>
<!--        https://graph.facebook.com/oauth/access_token?client_id=607442856100225&client_secret=bbd5d253d9d6a761db06ebbc63a2a057&grant_type=client_credentials-->
<!--        access_token=607442856100225|1PKH0ji8fyGRDC96ZGWkuQw8YHk-->
        
        <meta name="viewport" content="width=device-width, user-scalable=no">
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
        <script type="text/javascript" src="jquery.ajax-cross-origin.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.slides.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css">

        <style>
/*            @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
            @import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
            
            *{
                margin: 0 auto;
/*                font-family: 'Nanum Gothic', sans-serif;*/
                font-family:'Noto Sans Korean';
/*                font-weight: 400;*/
            }
            body{
                background: #fafafa;
            }
            #bg{
/*                background-image: url(/images/bg.jpg);*/
                background: white;
                background-size: cover;
            }
            #title{
                width: 100%;
                position: fixed;
                z-index: 99999999999999999;
                padding: 15px 10px;
                background: white;
/*                                background-image: url(/images/bg.png);*/
                opacity: 0.95;
                color: rgba(0, 50, 120, 0.7);
                text-align: center;
                box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
            }
            #menu{
                text-align: left;
            }
            #menu > ul{
                list-style: none;
                margin: 0px;
                padding: 0px;
            }
            #menu > ul > li{
/*                display: inline-block;*/
                margin: 3px 20px;
            }
            #profile{
                margin-bottom: 10px;
                width: 100px;
/*                border-radius: 100%;*/
/*                border: 3px solid white;*/
                opacity: 0.7;
                display: block;
                margin: auto;
            }
            #tab{
                padding: 50px;
                padding-top: 80px;
                padding-bottom: 30px;
/*                background: linear-gradient(135deg, #465892 0%,#6f5f9f 100%);*/
                background: #1b6ed3;
/*                text-align: center;*/
                color: rgba(255, 255, 255, 0.7);
/*                color: rgba(0, 0, 0, 0.5);*/
            }
            
            .card{
                padding: 20px 20px;
                background: white;
                margin: 15px auto;
                width: 80%;
/*                opacity: 0.5;*/
                color: rgba(0, 0, 0, 0.5);
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
                overflow: hidden;
            }
            p.comment{
                font-size: 13px;
                margin: 3px;
                
            }
/*
            .slidesjs-pagination{
                display: none;
            }
*/
            .slidesjs-pagination {
              margin: 6px 0 0;
              float: right;
              list-style: none;
            }
            .slidesjs-pagination li {
              float: left;
              margin: 0 1px;
            }
            .slidesjs-pagination li a {
              display: block;
              width: 13px;
              height: 0;
              padding-top: 13px;
              background-image: url(images/pagination.png);
              background-position: 0 0;
              float: left;
              overflow: hidden;
            }
            
            .slidesjs-pagination li a.active,
            .slidesjs-pagination li a:hover.active {
              background-position: 0 -13px
            }

            .slidesjs-pagination li a:hover {
              background-position: 0 -26px
            }
            
            .xi-heart{
                color: #F15F5F;
            }
            .left{
                float: left;
            }
            .clear{
                clear: both;
            }
        </style>
        <script type="text/javascript">

            // 1000 자리수 콤마
            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
            
            
            function get_data(res){
                //Context box initialize
                $('#test').html('');
                var count = res.data.length;
                
                for(var i = 0; i < count; i++){
                    var in_slide = false;
                    var content = res.data[i];
                    console.log(content);
                    
                    
                    var card = $('<div>').addClass('card');
                    if('updated_time' in content){
                        var date = content.updated_time.toString().split('T');
                        
                        card.append($('<h3>').text(date[0]));
                    }
                    if('message' in content){
                        var msg = content.message;
                        card.append($('<p>').html(msg.replace(/\n/gi,"</br>")));
                        card.append('</br>');
                    }
                    
                    if('attachments' in content){
                        
                        var attachment_data = content.attachments.data[0];
                        if('subattachments' in attachment_data){
                            in_slide = true;
                            var sub_attachment_data = attachment_data.subattachments.data;
                            var container = $('<div>').addClass('container');

                            for(var j = 0; j < sub_attachment_data.length; j++){
                                var src = sub_attachment_data[j].media.image.src;

                                var img = $('<img>').attr({'src': src, 'width': '100%'});
                                container.append(img);

                            }
                            $(".container").slidesjs({
                                width: 208,
                                height: 208,
                                navigation: false
                            });
                            card.append(container);

                        }
                    } 
                    
                    if('full_picture' in content && !in_slide){
                        var img_url = content.full_picture;
                        card.append('<br>');
                        card.append($('<img>').attr({'src': img_url, 'width': '100%'}));
                    }
                    

                    var like_comment_box = $('<h3>').html('</br>');
                    
                    if('likes' in content){
                        var likes = content.likes.data;
                        like_comment_box.append('<i class="xi-heart"></i> ' + likes.length);
                    }
                    // None Like
                    else{
                        like_comment_box.append('<i class="xi-heart"></i> ' + 0);
                    }
                    if('comments' in content){
                        var comments = content.comments.data;
                        like_comment_box.append('\t<i class="xi-message-o"></i> '+ comments.length);

                        card.append(like_comment_box);

                        var comment_box = $('<div>').html('</br>');
                        //Make Comments List
                        for(var j = 0; j < comments.length; j++){
                            var comment_name = comments[j].from.name;
                            var comment_likes = comments[j].like_count;
                            var comment_msg = comments[j].message;
                            comment_box.append('<hr></br>');
                            comment_box.append($('<h4>').html(comment_name + ' <i class="xi-thumbs-up"></i> ' + comment_likes) );
                            comment_box.append($('<p>').addClass('comment').html(comment_msg.replace(/\n/gi,"</br>") ));
                            comment_box.append($('<h5>').html('</br>'));
//                            comment_box.append($('<h5>').text('</br></br>'));
                        }
                        card.append(comment_box);
                    }
                    // None Comment
                    else{
                        like_comment_box.append('\t<i class="xi-message-o"></i> '+0);
                        card.append(like_comment_box);
                    }                            

                    $('#test').append(card);
                }
            }
            
            function process_data(link){
                $.get(link, function(res){
                    var page_info = res.page_info;
                    var page_data = res.page_data;
                    
                    $('#page_name').text(page_info.name);
                    var fan_count = numberWithCommas(page_info.fan_count);
                    $('#page_fans').text(fan_count+'명이 좋아하고 있습니다.')
                    if('about' in page_info){
                        $('#page_about').html(page_info.about.replace(/\n/gi, '</br>'))  
                    }
                    else{
                        $('#page_about').text(page_info.name + '의 페이스북 페이지입니다');
                    } 
                    
                    get_data(page_data);
                });
            }
            
            
            $(document).ready(function(){
                $('#menu').hide();
                $('#btn_menu').click(function(){
                    $('#menu').slideToggle('fast');
                })
                $.get('/hyubamboo', function(res){
                    var page_info = res.page_info;
                    var page_data = res.page_data;
                    var fan_count = numberWithCommas(page_info.fan_count);
                    $('#page_about').html(page_info.about.replace(/\n/gi, '</br>'))
                    $('#page_fans').text(fan_count+'명이 좋아하고 있습니다.')
                    
                    get_data(page_data);
//                    $('#menu').slideToggle('fast');
                    
                });
                //한양대학교 대나무숲
                $('#bamboo').click(function(){
                    $('#profile').attr('src','/images/bamboo.png');
                    process_data('/hyubamboo');
                    $('#menu').slideToggle('fast');
                });
                
                //한양대에리카 대신 전해드립니다.
                $('#daesin').click(function(){
                    $('#profile').attr('src','/images/megaphone.png');
                    process_data('/daesin');
                    $('#menu').slideToggle('fast');
                });
                //한에사피
                $('#love').click(function(){
                    $('#profile').attr('src','/images/heart.png');
                    process_data('/love');
                    $('#menu').slideToggle('fast');
                });
                
                //총학생회
                $('#student').click(function(){
                    $('#profile').attr('src','/images/group.png');
                    process_data('/student');
                    $('#menu').slideToggle('fast');
                });
                
                //한양동연
                $('#ca').click(function(){
                    process_data('/ca');
                    $('#menu').slideToggle('fast');
                });
                

                //기숙사자치회
                $('#dorm').click(function(){
                    process_data('/dorm');
                    $('#menu').slideToggle('fast');
                });

            });
                
            
        </script>
        
    </head>
    <body>
        <div id="bg">
            <a href="#"><div id="title">
                <h3 id="btn_menu" class="left" style="display:inline-block"><i class="xi-bars"></i></h3>
<!--                <div class="clear"></div>-->
                <h3 id="title_msg"style="display:inline-block; margin-left:-25px;">사자가 심심할 때</h3>
                <div class="clear"></div>
                
                <div id="menu">
                    </br>
                    <hr style="width:80%"></hr>
                    </br>
                    
                    <ul>
                        <li id="bamboo">한양대학교 대나무숲</li>
                        <li id="daesin">한양대학교 ERICA 대신 전해드립니다</li>
                        <li id="love">한양대학교 ERICA에 사랑을 피워드립니다</li>
                        <li id="student">한양대학교 ERICA 총학생회</li>
                        <li id="ca">한양대학교 ERICA 동아리 연합회</li>
                        <li id="dorm">한양대학교 ERICA 기숙사 자치회</li>
                    </ul>
                </div>
            </div></a>
            <div id="tab">

<!--                <img src="/images/bamboo.png" id="profile">-->
                <h2 id="page_name">한양대학교 대나무숲</h2>
                <h3 id="page_fans"></h3>
                <br>
                <p id="page_about"></p>

            </div>
        </div>
        
        <div id="test">
        </div>
        
    </body>
</html>