<!Doctype html>
<html>
    <head>
        <title>facebook test</title>
<!--        https://graph.facebook.com/oauth/access_token?client_id=607442856100225&client_secret=bbd5d253d9d6a761db06ebbc63a2a057&grant_type=client_credentials-->
<!--        access_token=607442856100225|1PKH0ji8fyGRDC96ZGWkuQw8YHk-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
        <script type="text/javascript" src="jquery.ajax-cross-origin.min.js"></script>
        <style>
            *{
                margin: 0 auto;
            }
            .card{
                padding: 10px 20px;
                background: white;
                margin: 10px 20px;
                width: 50%;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
            }
        </style>
        <script type="text/javascript">
            
            $(document).ready(function(){
                $.get("/hyubamboo", function(response) {
                    for(var i = 0; i < response.data.length; i++){
                        $('#test').append($('<div>').addClass('card').text(response.data[i].message));
                        
                    }
                    
                    
                })    
            })
            
        </script>
        
    </head>
    <body>
        <div id="test">
        </div>
        
    </body>
</html>