<!Doctype html>
<html ng-app="Shuttlecock">
    <head>
        <title>셔틀콕</title>
        <!--jquery-->
        <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css">
        <!--Angular js-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <!--Firebase-->
        
        <script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyDuZkfPCLMbWLsZZ89Fg69PSOMVRd-yoU8",
            authDomain: "shuttlecock-62d97.firebaseapp.com",
            databaseURL: "https://shuttlecock-62d97.firebaseio.com",
            storageBucket: "shuttlecock-62d97.appspot.com",
            messagingSenderId: "637011192134"
          };
          firebase.initializeApp(config);
        </script>
        <script>
            
            function getTodayDate(){
                var today = new Date();
                        
                var yyyy = today.getFullYear();
                var dd = today.getDate();
                var MM = today.getMonth()+1; //January is 0!


                var hh = today.getHours();
                var mm = today.getMinutes();
                var ss = today.getSeconds();

                if(dd < 10) dd = '0' + dd;
                if(MM < 10) MM = '0' + MM;

                if(hh < 10) hh = '0' + hh;
                if(mm < 10) mm = '0' + mm;
                if(ss < 10) ss = '0' + ss;


                var today = yyyy+'-'+MM+'-'+dd+' ';
                var curtime = hh+':'+mm+':'+ss;
                
                return today+curtime;
            }
            
            
            
            
            var newUIDKey;
            var app = angular.module("Shuttlecock", ["firebase"]);
            
            app.controller("SampleCtrl", function($scope, $firebaseArray, $firebaseObject) {
                
                var newUIDKey = firebase.database().ref().child('users').push().key;
                console.log(newUIDKey + ' Login')
                
                $scope.newUIDKey = newUIDKey;
                
                var ref = firebase.database().ref().child('posts');

                console.log(ref);
                // create a synchronized array
                $scope.messages = $firebaseArray(ref);
                
                console.log($firebaseArray(ref));
                console.log($scope.newUIDKey);

                // add new items to the array
                // the message is automatically added to our Firebase database!
                $scope.addMessage = function() {
                    $scope.messages.$add({
                        text: $('#main').val(),
                        author_key: newUIDKey,
                        date: getTodayDate()
                    })
//                    $("#add").slideDown('fast').delay(1200).fadeOut(800);
                };
                
                $scope.removeMsg = function(arr, obj, msgs, msg){
                    
                    
                    var ref = firebase.database().ref().child('posts').child(msg.$id).child('comments');
                    var list = $firebaseArray(ref);
//                    list.$add({foo:'fuck'});
                    console.log(list.$keyAt(0))
//                    console.log(list.$destory);
//                    console.log(list.keyAt())
//                    console.log(list['0']);
//                    console.log('fuck2');

                    
//                    console.log($firebaseArray(ref));
//                    
//                    console.log(msgs);
//                    console.log(msg);
//                    console.log(arr);
//                    console.log(obj);
//                    console.log(arr[obj.key])
                    
//                    console.log($firebaseObject(obj));
//                    $firebaseObject(obj).$remove();
                    
//                    $("#remove").slideDown('fast').delay(1200).fadeOut(800);
                }
                
                $scope.consoleMsg = function(msg){
                    var ref = firebase.database().ref().child('posts').child(msg.$id).child('comments');
                    $scope.comments = $firebaseArray(ref);
                    
//                    var newid = ref.push().key;
//                    
//                    var updates = {};
//                    updates['/posts/'+msg.$id+'/comments/'+ newid] = {
//                        msg: msg.input,
//                        comment_author_key: newUIDKey,
//                        date: getTodayDate(),
//                        character: Math.floor((Math.random() * 5)+1),
//                        key: newid
//                    }
//                    return firebase.database().ref().update(updates);
                    
                    
                    $scope.comments.$add({
                        msg: msg.input,
                        comment_author_key: newUIDKey,
                        date: getTodayDate(),
                        character: Math.floor((Math.random() * 5)+1),
                    }).then(function(ref){
                        var id = ref.key;
                        console.log("added record with id " + id);
                        console.log($scope.comments.$indexFor(id));
                    })
                    console.log(msg.input);
                }
                
                
                
                $scope.removePost = function(arr, obj){
                    var arr = $firebaseArray(arr);
                    arr.$remove(arr[2]);
                }
              // click on `index.html` above to see $remove() and $save() in action
            });
        
            $(document).ready(function(){
                
                
//                $('div').click(function(){
//                    var newPostKey = firebase.database().ref().child('posts').push().key;
//                    console.log(newUIDKey + "??");
//                    var updates = {};
//                    updates['/posts/' + newPostKey] = {
//                        'text': $('input').val(),
//                        'u': newUIDKey
//                    };
//                    console.log(newPostKey);
//                    return firebase.database().ref().update(updates);
//                })
            })
        </script>
        <style>
            ul{
                  list-style: none;
              }
              li{
                  list-style: none;
              }

              .card{
                width: 80%;
                padding:1.5rem;
                box-shadow:0 1px 2px #aaa;
                background:white;
                margin: 20px auto;
                border-radius:3px;
              }
            .clear{
                clear: both;
            }
        </style>
    </head>
    <body ng-controller="SampleCtrl">
        <input id="main" type="text">
        <div ng-click="addMessage()">test</div>
        
        <li class="card" ng-repeat="message in messages" >
            <!-- edit a message -->
            <h2 style="float:left; color:#444444;" ng-model="message.text">{{message.text}}</h2>
            <input type="text" ng-model="message.input">
            <button ng-click="consoleMsg(message)">test</button>
            <!-- delete a message -->
            <div style="float:right" ng-if="message.author_key == newUIDKey">
                <a class="btn"> 
<!--                    <i class="xi-close-circle" style="color:#882222" ng-click="messages.$remove(message); removeMsg(messages);"></i>-->
                    <i class="xi-close-circle" style="color:#882222" ng-click="removePost(messages, message);"></i>
                </a>
            </div>
            <div style="clear:both;"></div>
            <div ng-repeat="comment in message.comments">
                <img src="/images/character/face0{{comment.character}}.png" height="24px">
                <p>{{comment.msg}}</p>
<!--                <div style="float:right" ng-if="comment.comment_author_key == newUIDKey">-->
                <div style="float:right">

                    <a class="btn"> 
                        <i class="xi-close-circle" style="color:#882222" ng-click="removeMsg(message.comments, comment, messages, message); message.comments.$remove(comment) ;"></i>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        
    </body>
</html>